*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main::after{
    content: "";
    position: absolute;
    inset: 0;
    transform: skewY(10deg);
    background: linear-gradient(to right, #B92B27, #1565C0);
    z-index: -1;
    box-shadow: 0px 0px 10px black;
}

.shoe{
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
    width: 85%;
    height: 75%;
    padding: 2%;
    margin: auto;
    margin-top: 7.5%;
    box-shadow: 0px 0px 10px black;
}

.info{
    max-width: 40%;
    color: white;
}

.info > h1{
    font-size: xx-large;
    margin-bottom: 30px;
}

.info > p{
    font-size: large;
    margin-bottom: 50px;
    line-height: 20px;
}

.shoe-1{
    position: absolute;
    right: 0px;
    top: 10%;
    width: 600px;
    height: 300px;
}

.shoe-1:hover{
    right: 0px;
    top: 15px;
    width: 900px;
    height: 600px;
}